/***********************************************************
----------------- Dark Chocolate Stylesheet ----------------

        Design and CSS: aldy
        
        Thanks to:
            10d for testing and graphic designing
            Alpha for CSS and userscripts
            Leamas for testing and suggesting
            Megure for userscripts
            noise for designing the original stylesheets
            Potatoe for userscripts

***********************************************************/

@import url("darks.css");
@import url("icons/light.css");
@import url("bbcode/grey.css");
@import url("avatars/avatars.css");