/* Dream */
@mixin background() {
    background-color: #F4E9D5;
}
$primarybackground: rgba(#FFF,0.3) !important;
$secondarybackground: rgba(#FFF,0.5);
$tertiarybackground: rgba(#000,0.8) !important;

$headerbackground: #F4E9D5;
$menubackground: #EFDFC2;
$searchbackground: #FAF4EB;
$navigationbackground: #000;

$primaryfontcolour: #2B2B2B;
$secondaryfontcolour: #696969;
$tertiaryfontcolour: #2B2B2B;
$header: #E16151;
$snatched: #D71A41;
$disabled: #9C9C9C;

$link: #265E8B;
$linkhover: #4B93CE;
$bold: #429A76;
$boldhover: #69BF9C;
$usertorrent: #F24087;
$usertorrenthover: #F788B4;

$primaryborder: 1px solid #84878B;
$secondaryborder: 1px solid #83837C;
$focusshadow: rgba(89,89,89,0.6);
$colouredposttransparency: 0.15;

$quoteborder: #F7995B;
$quotebackground: #EDDACF;
$codeborder: #B29D4B;
$codebackground: #D8D8D4;
$spoilerborder: #D71A41;
$spoilerbackground: #EAD2D6;
$hideborder: #36849B;
$hidebackground: #BBEAEC;

@import "style";