/* Milky Way */
@mixin background() {
    background-color: #0f1428;
    background-image: url("http://i.imgur.com/KxnYIHT.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
}
$primarybackground: rgba(#000,0.5) !important;
$secondarybackground: rgba(#000,0.25);
$tertiarybackground: rgba(#000,0.5) !important;

$headerbackground: #151517;
$menubackground: #1e1f29;
$searchbackground: #35353f;
$navigationbackground: #FFF;

$primaryfontcolour: #FFF;
$secondaryfontcolour: #696969;
$tertiaryfontcolour: #BABABA;
$header: #89AACC;
$snatched: #D71A41;
$disabled: #696969;

$link: #537DA5;
$linkhover: #96B1CA;
$bold: #F35896;
$boldhover: #FAB8D2;
$usertorrent: #5BBE70;
$usertorrenthover: #A4DAB0;

$primaryborder: 1px solid #32324E;
$secondaryborder: 1px solid #000;
$focusshadow: rgba(42,34,91,1);
$colouredposttransparency: 0.2;

$quoteborder: #F7995B;
$quotebackground: #2C1B11;
$codeborder: #B29D4B;
$codebackground: #32322D;
$spoilerborder: #D71A41;
$spoilerbackground: #281317;
$hideborder: #36849B;
$hidebackground: #0e3133;

@import "style";