/***********************************************************
------------------- Milky Way Stylesheet -------------------

        Design and CSS: aldy
        
        Thanks to:
            AdnapRalopib for testing and graphic designing
            Alpha for CSS and userscripts
            Leamas for testing and suggesting
            Megure for userscripts
            noise for designing the original stylesheets
            Potatoe for userscripts

***********************************************************/

@import url("milkyways.css");
@import url("icons/light.css");
@import url("bbcode/blue.css");
@import url("avatars/avatars.css");