/***********************************************************
------------------- Milky Way Stylesheet -------------------

        Design and CSS: aldy
        
        Thanks to:
            10d for testing and graphic designing
            Alpha for CSS
            Leamas for testing and suggesting
			meimei for CSS
            noise for designing the original stylesheets

***********************************************************/

@import url("milkyways.css");
@import url("icons/light.css");
@import url("bbcode/blue.css");
@import url("avatars/avatars.css");