/***********************************************************
----------------- Tentaclebytes Stylesheet -----------------

        Design and CSS: aldy
        
        Thanks to:
            AdnapRalopib for testing and graphic designing
            Alpha for CSS and userscripts
            Leamas for testing and suggesting
            noise for designing the original stylesheets
            Potatoe for userscripts

***********************************************************/

@import url("tentaclebytess.css");
@import url("icons/dark.css");
@import url("bbcode/black.css");