/* Toblerone */
@mixin background() {
    background-color: #070707;
    background-image: url("http://i.imgur.com/iUql4Yg.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
}
$primarybackground: rgba(#000,0.5) !important;
$secondarybackground: rgba(#FFF,0.03);

$headerbackground: #151517;
$menubackground: #232325;
$searchbackground: #35353f;
$navigationbackground: #FFF;

$primaryfontcolour: #FFF;
$secondaryfontcolour: #696969;
$tertiaryfontcolour: #BABABA;
$header: #406E96;
$snatched: #D71A41;
$disabled: #696969;

$link: #999;
$linkhover: #CCC;
$bold: #406E96;
$boldhover: #6594BD;
$usertorrent: #8AE0FF;
$usertorrenthover: #A4DAB0;

$primaryborder: 1px solid #45474A;
$secondaryborder: 1px solid #202022;
$headerborder: $header;
$focusshadow: rgba(153,153,153,0.4);
$colouredposttransparency: 0.15;

$quoteborder: #F7995B;
$quotebackground: #2C1B11;
$codeborder: #B29D4B;
$codebackground: #32322D;
$spoilerborder: #D71A41;
$spoilerbackground: #281317;
$hideborder: #36849B;
$hidebackground: #0e3133;

@import "style";