/* White Chocolate */
@mixin background() {
    background-color: #FFF;
}
$primarybackground: #F0F0F0 !important;
$secondarybackground: rgba(#FFF,0.7);

$headerbackground: #323442;
$menubackground: $headerbackground;
$searchbackground: #494858;
$navigationbackground: #FFF;

$primaryfontcolour: #2B2B2B;
$secondaryfontcolour: #696969;
$tertiaryfontcolour: #CFCFCF;
$header: $secondaryfontcolour;
$snatched: #D71A41;
$disabled: #9C9C9C;

$link: #265E8B;
$linkhover: #4B93CE;
$bold: $primaryfontcolour;
$boldhover: $linkhover;
$usertorrent: #F24087;
$usertorrenthover: #F788B4;

$primaryborder: 1px solid #CBCBCB;
$secondaryborder: 1px solid #5C5C5C;
$headerborder: #CBCBCB;
$focusshadow: rgba(89,89,89,0.6);
$colouredposttransparency: 0.15;

$quoteborder: #F7995B;
$quotebackground: #EDDACF;
$codeborder: #B29D4B;
$codebackground: #D8D8D4;
$spoilerborder: #D71A41;
$spoilerbackground: #EAD2D6;
$hideborder: #36849B;
$hidebackground: #BBEAEC;

@import "style";

#about g>g>path[fill="#ffffff"] {
	fill: $primarybackground;
}