.stext {
    display: none;
}

.unread {
    background: url('light.png') 0px -125px no-repeat;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-bottom: -5px;
}

.read {
    background: url('light.png') 0px -149px no-repeat;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-bottom: -5px;
}

.unread-posted {
    background: url('light.png') 0px -299px no-repeat;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-bottom: -5px;
}

.read-posted {
    background: url('light.png') 0px -323px no-repeat;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-bottom: -5px;
}

.locked {
    background: url('light.png') -2px -171px no-repeat;
    height: 15px;
    width: 11px;
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.sticky {
    background: url('light.png') 0px -195px no-repeat;
    height: 15px;
    width: 17px;
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.go-last-read {
    background: url('light.png') -2px -219px no-repeat;
    height: 12px;
    width: 14px;
    vertical-align: middle;
    float: right;
}
@media (min-width: 800px) {
    .go-last-read {
        float: none;
        margin-top: -1px;
    }
}

.com-edit {
    background: url('light.png') 0px 0px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.com-quote {
    background: url('light.png') 0px -23px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.com-pm {
    background: url('light.png') 0px -42px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.com-add-friend {
    background: url('light.png') 0px -63px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.com-report {
    background: url('light.png') 0px -84px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.com-delete {
    background: url('light.png') 0px -105px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

img[src="/static/common/symbols/irc_online.png"] {
    height: 0px;
    padding: 7px 8px;
    background: url('light.png') 0px -239px no-repeat;
}

img[src="/static/common/symbols/irc_offline.png"] {
    height: 0px;
    padding: 7px 8px;
    background: url('light.png') 0px -260px no-repeat;
}

#menu .dropit {
    background: url('light menus.png') center -1px no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
}

#userinfo .dropit {
    background: url('light menus.png') center -17px no-repeat;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    display: inline-block;
}

#menu .dropit:hover {
    background: url('light menus.png') center -33px no-repeat;
}

#userinfo .dropit:hover {
    background: url('light menus.png') center -49px no-repeat;
}

.triangle-down-md {
    background: url('triangles.png') center -6px no-repeat;
    width: 12px;
    height: 8px;
    display: inline-block;
}

.triangle-right-md {
    background: url('triangles.png') center -24px no-repeat;
    width: 8px;
    height: 12px;
    display: inline-block;
}

.triangle-up-md {
    background: url('triangles.png') center -46px no-repeat;
    width: 12px;
    height: 8px;
    display: inline-block;
}

#radio_status {
    background: url('radio.png') 0px 0px no-repeat;
    padding-left: 18px;
}

ul.dropdown li {
    background: url('dropdown.png') right 8px no-repeat;
}

ul.dropdown li:hover {
    background: url('dropdown.png') right -24px no-repeat;
}

.post_id a[href="#header"] {
    font-size: 0em;
    background: url('light.png') 0px -279px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    padding-top: 3px;
}

img[src="/static//common/avatars/nsfw_avatar.png"], img[src="https://animebytes.tv/static//common/avatars/nsfw_avatar.png"] {
    width: 0px;
    height: 150px;
    padding-right: 150px;
    background: transparent url('light NSFW.png') top left no-repeat;
}

img[src="/static//common/avatars/nsfw_avatar.png"].friend_ava, img[src="https://animebytes.tv/static//common/avatars/nsfw_avatar.png"].friend_ava {
    width: 0px;
    height: 55px;
    padding-right: 75px;
    background: transparent url('light NSFW friends.png') top left no-repeat;
}

.avatar_c img[src="/static//common/avatars/nsfw_avatar.png"], .avatar_c img[src="https://animebytes.tv/static//common/avatars/nsfw_avatar.png"]{
    width: 0px;
    height: 100px;
    padding-right: 100px;
    background: transparent url('light NSFW comments.png') top left no-repeat;
}

#user_comments .commentbody {
    margin-top: 10px;
}

span.usercomment_posttime {
    margin-right: 35px !important;
}

#user_comments .commentbody p:first-child {
    margin-top: -36px;
    text-align: right;
    margin-bottom: 15px;
    height: 21px;
    font-size: 2px;
}

#user_comments a[onclick^="Edit_Form"] {
    font-size: 0;
    background: url('light.png') 0px 0px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 84px;
}

#user_comments a[onclick^="Delete"] {
    font-size: 0;
    background: url('light.png') 0px -105px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 84px;
    margin-left: -87px;
}

#user_comments a[onclick^="Quote"] {
    font-size: 0;
    background: url('light.png') 0px -23px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    padding-top: 4px;
    margin-right: 1px;
}

#user_comments .com-report {
    margin-right: 2px;
}

#user_comments a[onclick^="Delete"], #user_comments a[onclick^="Edit_Form"] {
    position: relative;
    z-index: 1;
}

#user_comments a[onclick^="Quote"], #user_comments .com-report {
    position: relative;
    z-index: 2;
}



/* Aka-chan */
a.permission_2,.permission_2 {
    color: #BEC2CC;
}

/* User */
a.permission_3,.permission_3 {
    color: #4AAC85;
}

/* Power User */
a.permission_4,.permission_4 {
    color: #A4F698;
}

/* Elite */
a.permission_22,.permission_22 {
    color: #33FFCC;
}

/* Torrent Master */
a.permission_7,.permission_7 {
    color: #41C7BD;
}

/* Legend */
a.permission_8,.permission_8 {
    color: #35A3AC;
}

/* VIP */
a.permission_6,.permission_6 {
    color: #29829D;
}

/* Sensei */
a.permission_27,.permission_27 {
    color: #FBDE6E;
    font-weight: bold;
}

/* Developer */
a.permission_14,.permission_14 {
    font-weight: bold;
    color: #F7995B;
}

/* Moderator */
a.permission_23,.permission_23 {
    font-weight: bold;
    color: #FFA31A;
}

/* Senior Moderator */
a.permission_11,.permission_11 {
    font-weight: bold;
    color: #EA5371;
}

/* cat */
a.permission_30,.permission_30 {
    color: #CC0000;
}

/* im the designer */
a.permission_29,.permission_29 {
    color: #99FFFF;
}

/* Administrator */
a.permission_1,.permission_1 {
    color: #D71A41;
    font-weight: bold;
}

img[src="/static/common/quality_stars/blue.png"] {
    width: 0px;
    height: 15px;
    padding-right: 15px;
    background: transparent url('quality_stars/blue.png') top left no-repeat;
}

img[src="/static/common/quality_stars/green.png"] {
    width: 0px;
    height: 15px;
    padding-right: 15px;
    background: transparent url('quality_stars/green.png') top left no-repeat;
}

img[src="/static/common/quality_stars/purple.png"] {
    width: 0px;
    height: 15px;
    padding-right: 15px;
    background: transparent url('quality_stars/purple.png') top left no-repeat;
}

img[src="/static/common/quality_stars/red.png"] {
    width: 0px;
    height: 15px;
    padding-right: 15px;
    background: transparent url('quality_stars/red.png') top left no-repeat;
}

img[src="/static/common/quality_stars/tpurple.png"] {
    width: 0px;
    height: 15px;
    padding-right: 15px;
    background: transparent url('quality_stars/tpurple.png') top left no-repeat;
}

img[src="/static/common/quality_stars/tred.png"] {
    width: 0px;
    height: 15px;
    padding-right: 15px;
    background: transparent url('quality_stars/tred.png') top left no-repeat;
}

img[src="/static/common/quality_stars/white-outline.png"] {
    width: 0px;
    height: 14px;
    padding-right: 15px;
    background: transparent url('quality_stars/white-outline.png') top left no-repeat;
}

img[src="/static/common/quality_stars/yellow.png"] {
    width: 0px;
    height: 15px;
    padding-right: 15px;
    background: transparent url('quality_stars/yellow.png') top left no-repeat;
}
