#logo a {
    background: url("light logo.png") 0px 0px no-repeat;
}

#logo a:hover {
    background: url("light logo.png") 0px -35px no-repeat;
}

.stext {
    display: none;
}

.unread {
    background: url('light.png') 0px -125px no-repeat;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-bottom: -5px;
}

.read {
    background: url('light.png') 0px -149px no-repeat;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-bottom: -5px;
}

.locked {
    background: url('light.png') -2px -171px no-repeat;
    height: 15px;
    width: 11px;
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.sticky {
    background: url('light.png') 0px -195px no-repeat;
    height: 15px;
    width: 17px;
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.go-last-read {
    background: url('light.png') -2px -219px no-repeat;
    height: 12px;
    width: 14px;
    vertical-align: middle;
    margin-top: -1px;
}

.com-edit {
    background: url('light.png') 0px 0px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.com-quote {
    background: url('light.png') 0px -23px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.com-pm {
    background: url('light.png') 0px -42px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.com-add-friend {
    background: url('light.png') 0px -63px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.com-report {
    background: url('light.png') 0px -84px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.com-delete {
    background: url('light.png') 0px -105px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

img[src="/static/common/symbols/irc_online.png"] {
    height: 0px;
    padding: 7px 8px;
    background: url('light.png') 0px -239px no-repeat;
}

img[src="/static/common/symbols/irc_offline.png"] {
    height: 0px;
    padding: 7px 8px;
    background: url('light.png') 0px -260px no-repeat;
}

#menu .dropit {
    background: url('light menus.png') center -1px no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
}

#userinfo .dropit {
    background: url('light menus.png') center -17px no-repeat;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    display: inline-block;
}

#menu .dropit:hover {
    background: url('light menus.png') center -33px no-repeat;
}

#userinfo .dropit:hover {
    background: url('light menus.png') center -49px no-repeat;
}

.triangle-down-md {
    background: url('triangles.png') center -6px no-repeat;
    width: 12px;
    height: 8px;
    display: inline-block;
}

.triangle-right-md {
    background: url('triangles.png') center -24px no-repeat;
    width: 8px;
    height: 12px;
    display: inline-block;
}

.triangle-up-md {
    background: url('triangles.png') center -46px no-repeat;
    width: 12px;
    height: 8px;
    display: inline-block;
}

#radio_status {
    background: url('radio.png') 0px 0px no-repeat;
    padding-left: 18px;
}

ul.dropdown li {
    background: url('dropdown.png') right 8px no-repeat;
}

ul.dropdown li:hover {
    background: url('dropdown.png') right -24px no-repeat;
}

.post_id a[href="#header"] {
    font-size: 0em;
    background: url('light.png') 0px -279px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    padding-top: 3px;
}

img[src="/static//common/avatars/nsfw_avatar.png"], img[src="https://animebytes.tv/static//common/avatars/nsfw_avatar.png"] {
    width: 0px;
    height: 150px;
    padding-right: 150px;
    background: transparent url('light NSFW.png') top left no-repeat;
}

img[src="/static//common/avatars/nsfw_avatar.png"].friend_ava, img[src="https://animebytes.tv/static//common/avatars/nsfw_avatar.png"].friend_ava {
    width: 0px;
    height: 55px;
    padding-right: 75px;
    background: transparent url('light NSFW friends.png') top left no-repeat;
}

.avatar_c img[src="/static//common/avatars/nsfw_avatar.png"], .avatar_c img[src="https://animebytes.tv/static//common/avatars/nsfw_avatar.png"]{
    width: 0px;
    height: 100px;
    padding-right: 100px;
    background: transparent url('light NSFW comments.png') top left no-repeat;
}

#searchbars input[value='Series']:focus {
    background: #35353f url("light searchbg.png") 0px 3px no-repeat;
}

#searchbars input[value='Albums']:focus {
    background: #35353f url("light searchbg.png") 0px -37px no-repeat;
}

#searchbars input[value='Artist']:focus {
    background: #35353f url("light searchbg.png") 0px -77px no-repeat;
}

#searchbars input[value='Forums']:focus {
    background: #35353f url("light searchbg.png") 0px -117px no-repeat;
}

#searchbars input[value='Users']:focus {
    background: #35353f url("light searchbg.png") 0px -153px no-repeat;
}

#user_comments .commentbody {
    margin-top: 10px;
}

span.usercomment_posttime {
    margin-right: 35px !important;
}

#user_comments .commentbody p:first-child {
    margin-top: -36px;
    text-align: right;
    margin-bottom: 15px;
    height: 21px;
}

#user_comments a[onclick^="Edit_Form"] {
    font-size: 0;
    background: url('light.png') 0px 0px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 84px;
}

#user_comments a[onclick^="Delete"] {
    font-size: 0;
    background: url('light.png') 0px -105px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 84px;
    margin-left: -87px;
}

#user_comments a[onclick^="Quote"] {
    font-size: 0;
    background: url('light.png') 0px -23px no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    padding-top: 4px;
    margin-right: 1px;
}

#user_comments .com-report {
    margin-right: 2px;
}