#forums .avatar {
    max-height: 400px;
    overflow: hidden;
}

.author_info ul > li.center, .user_fields.nobullet {
    display: none;
}

#user_leftcol .center:first-child, #userhistory .avatar, .avatar_c, .flist_av, .floatleft.clearcont.friends_left,
.post_block.user_17317, #forums .post_block.user_17317 .avatar,
.post_block.user_18701, #forums .post_block.user_18701 .avatar,
.post_block.user_12326, #forums .post_block.user_12326 .avatar, 
.post_block.user_20811, #forums .post_block.user_20811 .avatar, 
.post_block.user_21070, #forums .post_block.user_21070 .avatar, 
.post_block.user_17176, #forums .post_block.user_17176 .avatar  {
    overflow: visible;
}

/**** aldy **** /
.post_block.user_17317 .avatar img {
    width: 0px;
    height: 330px;
    padding-left: 253px;
    margin-left: -76px;
    background: transparent url('aldy.png') top right no-repeat;
}

#user_leftcol .center:first-child img[title^="aldy"] {
    width: 0px;
    height: 330px;
    padding-left: 253px;
    margin-left: -40px;
    background: transparent url('aldy.png') top right no-repeat;
}
/*
#userhistory .forum_post .avatar img[title^="aldy"] {
    width: 0px;
    height: 247px;
    padding-left: 256px;
    margin-left: -99px;
    background: transparent url('aldyHistory.png') top right no-repeat;
}

#user_comments .avatar_c img[title^="aldy"] {
    width: 0px;
    height: 170px;
    padding-left: 150px;
    margin-left: -40px;
    background: transparent url('aldyComments.png') top right no-repeat;
}

#user_leftcol .friendslist img[title^="aldy"] {
    width: 0px;
    height: 55px;
    padding-left: 118px;
    background: transparent url('aldyComments.png') top right no-repeat;
}

#friends .flist_av img[title^="aldy"] {
    width: 0px;
    padding-left: 152px;
    background: transparent url('aldyComments.png') top right no-repeat;
    height: 170px;
}

/**** Leamas **** /
.post_block.user_18701 .avatar img {
    width: 0px;
    height: 324px;
    padding-left: 250px;
    margin-left: -70px;
    background: transparent url('Leamas.png') top right no-repeat;
}

#user_leftcol .center:first-child img[title^="Leamas"] {
    width: 0px;
    height: 324px;
    padding-left: 250px;
    margin-left: -25px;
    background: transparent url('Leamas.png') top right no-repeat;
}

#userhistory .forum_post .avatar img[title^="Leamas"] {
    width: 0px;
    height: 283px;
    padding-left: 218px;
    margin-left: -48px;
    background: transparent url('LeamasHistory.png') top right no-repeat;
}

#user_comments .avatar_c img[title^="Leamas"] {
    width: 0px;
    height: 194px;
    padding-left: 150px;
    margin-left: -35px;
    background: transparent url('LeamasComments.png') top right no-repeat;
}

#user_leftcol .friendslist img[title^="Leamas"] {
    width: 0px;
    height: 55px;
    padding-left: 118px;
    background: transparent url('LeamasComments.png') -65px -25px no-repeat;
}

#friends .flist_av img[title^="Leamas"] {
    width: 0px;
    padding-left: 152px;
    background: transparent url('LeamasComments.png') top right no-repeat;
    height: 194px;
    margin-left: -15px;
}

/**** 10d **** /
.post_block.user_21070 .avatar img {
    width: 0px;
    height: 400px;
    padding-left: 206px;
    margin-left: -35px;
    background: transparent url('10d.png') top right no-repeat;
}

#user_leftcol .center:first-child img[title^="10d"] {
    width: 0px;
    height: 400px;
    padding-left: 206px;
    background: transparent url('10d.png') top right no-repeat;
}

#userhistory .forum_post .avatar img[title^="10d"] {
    width: 0px;
    height: 330px;
    padding-left: 170px;
    margin-left: -17px;
    background: transparent url('10dHistory.png') top right no-repeat;
}

#user_comments .avatar_c img[title^="10d"] {
    width: 0px;
    height: 252px;
    padding-left: 130px;
    margin-left: -15px;
    background: transparent url('10dComments.png') top right no-repeat;
}

#user_leftcol .friendslist img[title^="10d"] {
    width: 0px;
    height: 55px;
    padding-left: 118px;
    background: transparent url('10dComments.png') -53px -17px no-repeat;
}

#friends .flist_av img[title^="10d"] {
    width: 0px;
    padding-left: 130px;
    background: transparent url('10dComments.png') top right no-repeat;
    height: 252px;
    margin-left: -20px;
}

/**** aw3efgz7p ****/
.post_block.user_12326 .avatar img {
    width: 0px;
    height: 260px;
    padding-left: 194px;
    margin-left: -22px;
    background: transparent url('aw3efgz7p.png') top right no-repeat;
}

#user_leftcol .center:first-child img[title^="aw3efgz7p"] {
    width: 0px;
    height: 260px;
    padding-left: 194px;
    background: transparent url('aw3efgz7p.png') top right no-repeat;
}

#userhistory .forum_post .avatar img[title^="aw3efgz7p"] {
    width: 0px;
    height: 260px;
    padding-left: 194px;
    margin-left: -22px;
    background: transparent url('aw3efgz7pHistory.png') top right no-repeat;
}

#user_comments .avatar_c img[title^="aw3efgz7p"] {
    width: 0px;
    height: 174px;
    padding-left: 130px;
    margin-left: -15px;
    background: transparent url('aw3efgz7pComments.png') top right no-repeat;
}

#user_leftcol .friendslist img[title^="aw3efgz7p"] {
    width: 0px;
    height: 55px;
    padding-left: 118px;
    background: transparent url('aw3efgz7pComments.png') -33px -12px no-repeat;
}

#friends .flist_av img[title^="aw3efgz7p"] {
    width: 0px;
    padding-left: 130px;
    background: transparent url('aw3efgz7pComments.png') top right no-repeat;
    height: 170px;
    margin-left: -5px;
}

/**** Zeroxv ****/
.post_block.user_20811 .avatar img {
    width: 0px;
    height: 270px;
    padding-left: 220px;
    margin-left: -44px;
    background: transparent url('Zeroxv.png') top right no-repeat;
}

#user_leftcol .center:first-child img[title^="Zeroxv"] {
    width: 0px;
    height: 270px;
    padding-left: 220px;
	margin-left: -10px;
    background: transparent url('Zeroxv.png') top right no-repeat;
}

/**
#userhistory .forum_post .avatar img[title^="Zeroxv"] {
    width: 0px;
    height: 348px;
    padding-left: 190px;
    margin-left: -33px;
    background: transparent url('ZeroxvHistory.png') top right no-repeat;
}

#user_comments .avatar_c img[title^="Zeroxv"] {
    width: 0px;
    height: 190px;
    padding-left: 150px;
    margin-left: -48px;
    background: transparent url('ZeroxvComments.png') top right no-repeat;
}

#user_leftcol .friendslist img[title^="Zeroxv"] {
    width: 0px;
    height: 55px;
    padding-left: 118px;
    background: transparent url('ZeroxvComments.png') -14px -47px no-repeat;
}

#friends .flist_av img[title^="Zeroxv"] {
    width: 0px;
    padding-left: 152px;
    background: transparent url('ZeroxvComments.png') top right no-repeat;
    height: 190px;
    margin-left: -35px;
}

/**** Stryk3r117 **** /
.post_block.user_17176 .avatar img {
    width: 0px;
    height: 324px;
    padding-left: 220px;
    margin-left: -45px;
    background: transparent url('Stryk3r117.png') top right no-repeat;
}

#user_leftcol .center:first-child img[title^="Stryk3r117"] {
    width: 0px;
    height: 324px;
    padding-left: 220px;
	margin-left: -10px;
    background: transparent url('Stryk3r117.png') top right no-repeat;
}

/**** Green ****/
a[href="/user.php?id=15890"] {
    color: #00DE00;
}

/**** daigunzan **** /
.post_block.user_27718 .avatar img {
    width: 0px;
    height: 237px;
    padding-left: 150px;
    background: transparent url('daigunzan.png') top right no-repeat;
}

/**** April Fools Day **** /
#forums .avatar:before {
	display: block;
    content: '';
    position: absolute;
	width: 0px;
    height: 69px;
    padding-left: 160px;
    margin-left: -5px;
	margin-top: -30px;
    background: transparent url('Naruto.png') top right no-repeat;
}

#forums .avatar {
	padding-top: 20px;
}*/