/***********************************************************
------------------- Milky Way Stylesheet -------------------

        Design and CSS: aldy

        Thanks to:
            10d for testing and graphic designing
            Alpha for CSS
            Leamas for testing and suggesting
            meimei for CSS
            noise for designing the original stylesheets

***********************************************************/

@import url("milkyway/style.css");
@import url("iconsets/delicious/light.css");
@import url("bbcode/blue.css");